DATABASE_URL="mysql://symfony:examplesymfonypassword@mysql_shard:3306/proton_mail_shard?serverVersion=5.7"
DATABASE_GLOBAL_URL="mysql://symfony:examplesymfonypassword@mysql_global:3306/proton_mail_global?serverVersion=5.7"
APP_ENV=dev
APP_DEBUG=true
APP_SECRET=your_symfony_secret

**replace DATABASE_URL, DATABASE_GLOBAL and APP_SECRET with your variables for shard db, global db and symfony app secret, respectively**